asgiref==3.6.0
aws-xray-sdk==2.14.0
botocore==1.38.12
Django==4.1.5
django-cors-headers==3.13.0
django-redis==5.4.0
djangorestframework==3.14.0
gunicorn==20.1.0
jmespath==1.0.1
mysqlclient==2.2.7
packaging==25.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2022.7.1
redis==6.0.0
setuptools==80.3.1
six==1.17.0
sqlparse==0.4.3
tzdata==2022.7
urllib3==2.4.0
whitenoise==6.3.0
wrapt==1.17.2
